

.header-home{
    background-color: #D9D9D9;
    width: 100%;
    height: 20%;
}

.header-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-box-img{
    width: 300px;
    height: 100px;
}

.header-box-img:nth-of-type(3){
    width: 150px;
    height: 100px;
}

.header-box-img img{
    width: 100%;
    height: 100%;
}

